* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main h1 {
  color: whitesmoke;
  margin-bottom: 30px;
}
.main label {
  color: whitesmoke;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  margin-top: 20px;
}

/* Styling for the button with class 'signup-button' */
.signup-button {
  background-color: whitesmoke; /* Primary color */
  color: black; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for background color and transform */
}

/* Hover Effect */
.signup-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Active State */
.signup-button:active {
  background-color: whitesmoke; /* Even darker shade on click */
  transform: translateY(0); /* Reset lift effect */
}

/* Focus State */
.signup-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow on focus */
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.textbox {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;

  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 20px;
}

.textbox:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
